<table class="table table-striped bg-light table-sm">
    <tbody>
        <tr>
            <td>
                <p>luongbc</p>
            </td>
            <td>
            <span class="d-inline-block text-truncate" style="max-width: 900px;">
                AKSAJDDKSJADNKJSANKDJNKDANJSADJSA - nfdakjfksjfnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnkdjas
            </span
                
            </td>
            <td>
                <p>Oct 18</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>luongbc</p>
            </td>
            <td>
            <span class="d-inline-block text-truncate" style="max-width: 900px;">
                AKSAJDDKSJADNKJSANKDJNKDANJSADJSA - nfdakjfksjfnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnfdakjfksjfnkdjasnkdjas
            </span
                
            </td>
            <td>
                <p>Oct 18</p>
            </td>
        </tr>
    </tbody>
</table>