<div class="row">
    <div class="col-8 mx-auto">
        <div class="bg-info text-white pl-3">
            New Message
        </div>
        <div>   
            <form method="post" action="mails/create">
                <div class="input-group">
                    <div class="input-group-addon bg-white text-muted" style="width:77px">To</div>
                    <div class="form-control border-left-0">
                        <select data-placeholder="Choose an email" multiple id="receivers" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            
                <div class="input-group">
                    <div class="input-group-addon bg-white text-muted"  style="width:77px">Subject</div>
                    <input class="form-control form-control-sm border-left-0" type="Text"></input>
                </div>
                <textarea class="form-control" rows="10"></textarea>
                <div class="border border-light">
                    <button type="submit" class="btn btn-info" style="width:100px">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

