<ul class="list-unstyled">
    <li>
        <a href="/messages/new">
            <button class="btn btn-sm btn-danger">COMPOSE</button>
        </a>
    </li>
    <li class="m-1">
        <a class="text-muted font-weight-normal" href="/messages">
                Inbox
        </a>
    </li>
    <li class="m-1">
        <a class="text-muted font-weight-normal" href="/messages?status=sent">Sent messages</a>
    </li>
    <li class="m-1">
        <a class="text-muted font-weight-normal" href="/friends">Friend list</a>
    </li>
</ul>
