<ul class="list-unstyled">
    <li>
        <a href="/mails/new">
            <button class="btn btn-sm btn-danger">COMPOSE</button>
        </a>
    </li>
    <li class="m-1">
        <a class="text-muted font-weight-normal" href="/mails">
                Inbox
        </a>
    </li>
    <li class="m-1">
        <a class="text-muted font-weight-normal" href="/mails?status=sent">Sent mails</a>
    </li>
    <li class="m-1"> 
        <a class="text-muted font-weight-normal" href="/friends">Friend list</a>
    </li>
</ul>
